[submodule "dreamcoder"]
	path = dreamcoder
	url = https://github.com/CatherineWong/laps_dreamcoder
[submodule "data/lax"]
	path = data/lax
	url = https://github.com/cogtoolslab/lax
[submodule "dreamegg"]
	path = dreamegg
	url = https://github.com/mlb2251/dreamegg
