[submodule "dreamcoder"]
	path = dreamcoder
	url = https://github.com/CatherineWong/laps_dreamcoder
[submodule "src/gmm-torch"]
	path = src/gmm_torch
	url = https://github.com/CatherineWong/gmm-torch
